# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/
staticfiles/
local_settings.py

# Environments
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# VS Code
.vscode/

# macOS
.DS_Store

# PyCharm
.idea/

# Coverage reports
htmlcov/
.coverage
.tox/
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Migrations
*/migrations/*.pyc
*/migrations/__pycache__/
*/migrations/*.pyo
*/migrations/*.log
*/migrations/*.pot
*/migrations/*.py
!*/migrations/__init__.py   

# developemnt files
*.swp
*.swo
*.sqlite3
data/